{{define "media_page_tab"}}
<button class="nav-link" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media" type="button" role="tab" aria-controls="nav-media" aria-selected="true">Media</button> 
{{end}}

{{define "media_page"}}
<div class="tab-pane fade" id="nav-media" role="tabpanel" aria-labelledby="nav-media-tab">
    <div class="row row-grid-5">
        <div class="col-8">
            <div class="row row-grid-6">
                <div class="center-container">
                    <button type="button" class="btn click-button btn-center" data-sent-key="VK_MUTE"><i class="bi bi-volume-mute"></i></button>
                </div>
            </div>
            <div class="row row-grid-6">
                <div class="center-container">
                    <button type="button" class="btn click-button btn-center" data-sent-key="VK_STOPCD" disabled><i class="bi bi-stop"></i></button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="center-container">
                <button type="button" class="btn push-button btn-center" data-sent-key="VK_VOLUMEUP"><i
                        class="bi bi-volume-up"></i></button>
            </div>
        </div>
    </div>
    <div class="row row-grid-5">
        <div class="col-8">
            <div class="row row-small row-grid-6">
                <div class="col-6">
                    <div class="center-container"><button type="button" class="btn click-button btn-right" data-sent-key="VK_PREVIOUSSONG" disabled><i
                                class="bi bi-skip-backward"></i></button></div>
                </div>
                <div class="col-6">
                    <div class="center-container"><button type="button" class="btn click-button btn-left" data-sent-key="VK_NEXTSONG" disabled><i
                                class="bi bi-skip-forward"></i></button></div>
                </div>
            </div>
            <div class="row row-grid-6">
                <div class="center-container">
                    <button type="button" class="btn click-button btn-center" data-sent-key="VK_PLAYPAUSE" disabled><i class="bi bi-play"></i><i
                            class="bi bi-pause"></i></button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="center-container">
                <button type="button" class="btn push-button btn-center" data-sent-key="VK_VOLUMEDOWN"><i class="bi bi-volume-down"></i></button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "media_page_visibility_switch"}}
<div class="row row-grid-2">
    <div class="center-y-container">
        <div class="form-check form-switch">
            <input class="form-check-input page-visibility-switch" type="checkbox" role="switch" id="nav-media-page-visibility-switch" data-page-id="nav-media" checked>
            <label class="form-check-label" for="nav-media-page-visibility-switch">Media page</label>
        </div>
    </div>
</div>
{{end}}